:root{
    --primary-color:#4f4aa6;
    --secondary-color: #48ca95;
    --bg-color: #f7f7f7;
    --light-color:#fff;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Times New Roman';
}

body{
    display: flex;
    flex-direction: column;
    min-height:  90vh;
    align-items: center;
    padding-top: 1%;
    background: url(imagenes/fondo_1.webp) no-repeat center center/ cover;
}

#ingresos{
    width: 95%;
}

#openModalButton{
 padding: 10px;
 margin-right: 10px;
 border-radius: 8px;
 border: 2px solid var(--light-color);
 cursor: pointer;
}

#boton-valance{
    padding: 10px;
    margin-right: 10px;
    border-radius: 8px;
    border: 2px solid var(--light-color);
    cursor: pointer;
   }



#btn{
   /*  color: var(--light-color); */
    text-decoration: none;
    border: 2px solid var(--light-color);
    padding: 5px 15px;
    margin: 0px 5px;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
    
}

#form{
    background-color: #547ae4;
    padding: 1.5% 1%;
    margin-top: 1%;
    border-radius: 10px;

}
.tabla{

    margin: 50px auto;
	width: 600px;
    display: none;
}

table{

	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #243563;
	border-bottom: solid 5px #0F362D;
	color: white;
   
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #547ae4;
	color: white;
}

@media(max-width: 500px){
    #form {
      width: 400px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      font-size: 14px;
    }
    #btn{
        /*  color: var(--light-color); */
         text-decoration: none;
         padding: 5px 5px;
         margin: 0px 2px;
         font-size: 12px;
         width: 25%;
         
}

input{
    width: 22%;
    margin: 1%;
}
.tabla{
	width: 350px;
}
}